* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
.container {
    max-width: 1500px;
    width: 100%;
    /* margin: 0 auto; */
    padding-top: 27px;
}
header {
    background-color: #0020F4;
    height: 387.56px;
    /* margin: 0 auto; */
    /* justify-content: space-between;
    align-items: center; */
}
.upper {
    display: flex;
    padding-top: 37px;
}
.skylogo, .navdiv {
    justify-content: space-between;
    align-items: center;
}
.nav-ul {
    display: flex;
    justify-content: space-around;
}
.navbar-li {
    list-style-type: none;
    text-decoration: none;
}
.navbar-li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: 'Regular';
}
.navbar-li-bold a {
    background-color: white;
    color: black;
    border-radius: 28px;
    font-family: 'Bold';
    text-decoration: none;
    list-style-type: none;
}
.content {
    display: grid;
    /* grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto; */
    grid-template-areas: 
    "main main main main main"
    "bigtext bigtext bigtext bigtext bigtext"
    "5pic 5pic 5pic 5pic 5pic"
    "ptext ptext ptext ptext ptext"
    "add add add add add";
}
.mainimg {
    grid-area: main;
    max-width: 1200px;
    width: 100%;
    transform: translateY(-150px);
}
h1 {
    grid-area: bigtext;
    padding-right: 824px;
    margin-top: 15px;
}
.pictures {
    grid-area: 5pic;
    /* max-width: 600px;
    /* display: flex; */ */
    max-width: 400px;
    display: flex;
}
.textcontent {
    grid-area: ptext;
    margin-top: 30px;
    max-width: 951;
    width: 100%;
    margin: 0 auto;
}
button {
    grid-area: add;
    border-radius: 28px;
    background: #0A22F4;
    color: #FFFFFF;
    font-family: 'Bold';
    padding: 18px 77px;
    margin-top: 60px;
}
footer {
    background: #0020F4;
}
